<main class="wrapper">
  <h1 class="maintitle">Buscador de series</h1>
  <form class="form" action="">
    <label for="search"></label>
    <input
      class="input"
      type="text"
      id="search"
      placeholder="Introduce tu búsqueda"
    />
    <button class="searchButton" type="submit">Search</button>
  </form>
  <section class="resultsection">
    <div class="wrapperFavorites">
      <div class="resetButton">Reset</div>
      <div class="favoritessection">Mis series favoritas</div>
    </div>
  </section>
</main>
