.wrapper {
  padding: 20px;
}
.maintitle {
  margin-left: 42%;
}

.resultsection {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.favoritessection {
  margin: 0;
}

.js-showlist {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.js-show {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px 40px 30px 40px;
  background-color: pink;
}

.show--favorite {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 20px 40px 30px 40px;
  background-color: rgb(241, 18, 55);
}
.favoriteItem {
  width: 70px;
  height: 98px;
  padding: 10px 10px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 10px;
  justify-content: flex-end;
}
